* {
	margin: 0;
	background-color: #ebe7e4;
	font-family: "Raleway", sans-serif;
}

.top-container {
	display: flex;
	height: 50vh;
}

.nav-container {
	margin: auto auto;
}

.img-container {
	height: 50vh;
	position: fixed;
	bottom: 0%;
}

img {
	min-width: 950px;
	width: 100%;
}
