* {
	margin: 0;
	background-color: #ebe7e4;
	font-family: "Raleway", sans-serif;
}

.top-container {
	display: flex;
	height: 50vh;
}

.nav-container {
	margin: auto auto;
}

.sprint-list {
	margin: 10px 0px;
	display: flex;
	justify-content: space-around;
}

.sprint-links {
	text-decoration: none;
	color: grey;
	transition: 0.2s ease-out;
}

.sprint-links:hover {
	transform: scale(1.15);
}

.img-container {
	height: 50vh;
	position: fixed;
	bottom: 0%;
}

img {
	min-width: 950px;
	width: 100%;
}
