* {
	margin: 0;
	background-color: #ebe7e4;
	font-family: "Raleway", sans-serif;
}

body {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.top-container {
	display: flex;
	height: 50vh;
}

.nav-container {
	margin: auto auto;
	width: 30vw;
}

.name-container {
	display: flex;
	justify-content: space-around;
}

.title {
	font-size: 3em;
}

.sprint-list {
	margin: 10px 0px;
	display: flex;
	justify-content: space-around;
}

.sprint-link {
	text-decoration: none;
	color: grey;
	transition: 0.2s ease-out;
}

.sprint-link:hover {
	transform: scale(1.15);
	color: coral;
}

.img-container {
	height: 50vh;
	bottom: 0%;
	overflow: hidden;
}

img {
	max-width: 2560px;
	min-width: 950px;
	object-fit: cover;
}

/* the Blog */

#header {
	height: 70px;
	width: 100%;
	position: fixed;
}

.header-main {
	position: relative;
	display: flex;
	height: 70px;
	border-bottom: 1px solid lightgray;
}

.box-left {
	border-right: 1px solid lightgray;
	min-width: 115px;
	background-color: coral;
}

.box-right {
	margin: auto auto;
	font-size: 1.5em;
	font-weight: bold;
	max-width: 680px;
}

#content {
	position: relative;
	top: 100px;
	width: 100vh;
	height: 100vh;
	overflow: scroll;
}

.blog-post {
	max-width: 680px;
	margin: auto;
	padding: 10px;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

h4,
h6 {
	color: rgba(117, 117, 117, 1);
	font-weight: lighter;
}

p {
	font-weight: lighter;
}

.image-container {
	position: relative;
	max-height: 400px;
}
